<p>search works!</p>

<main class="container" id="scroll1">
    <h2>Conoce la mejor opción para ti</h2>

    <div class="select-container">
        <select class="select-box">
            <option value="">Selecciona tu estado</option>
            <option value="option2">Opcion2</option>
            <option value="option3">Opcion3</option>
            <option value="option4">Opcion4</option>
            <option value="option5">Opcion5</option>
        </select>
    </div>

    <div class="select-container">
        <select class="select-box">
            <option value="">Selecciona el precio</option>
            <option value="option2">Opcion2</option>
            <option value="option3">Opcion3</option>
            <option value="option4">Opcion4</option>
            <option value="option5">Opcion5</option>
        </select>
    </div>
    


    <div class="rooms-info">
        <div class="room">
            <img src="assets/room1.jpg" alt="">
            <h3>Habitación 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sapiente blanditiis accusantium cum.
            </p>
            <a href="../room/detail/" class="btn-2">Ver más</a>
        </div>

        <div class="room">
            <img src="assets/room3.jpg" alt="">
            <h3>Habitación 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sapiente blanditiis accusantium cum.
            </p>
            <a href="#" class="btn-2">Ver más</a>
        </div>

        <div class="room">
            <img src="assets/room1.jpg" alt="">
            <h3>Habitación 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sapiente blanditiis accusantium cum.
            </p>
            <a href="#" class="btn-2">Ver más</a>
        </div>

        <div class="room">
            <img src="assets/room1.jpg" alt="">
            <h3>Habitación 4</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sapiente blanditiis accusantium cum.
            </p>
            <a href="#" class="btn-2">Ver más</a>
        </div>

        <div class="room">
            <img src="assets/room3.jpg" alt="">
            <h3>Habitación 5</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sapiente blanditiis accusantium cum.
            </p>
            <a href="#" class="btn-2">Ver más</a>
        </div>

        <div class="room">
            <img src="assets/room1.jpg" alt="">
            <h3>Habitación 6</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sapiente blanditiis accusantium cum.
            </p>
            <a href="#" class="btn-2">Ver más</a>
        </div>
    </div>

</main>