.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 110px 0;
    text-align: center;
}

.select-container {
    display: inline-block;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
    margin-right: 20px; 
}

.select-box {
    border: none;
    appearance: none;
    padding: 15px;
    width: 100%;
    color: white;
    background-color: #e2b950;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
}


.rooms-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    margin-top: 50px;
    padding: 0 7%;

    .room{
        padding-bottom: 35px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        border-radius: 25px;
    }
    
    .room img{
        width: 100%;
        height: 300px;
        border-radius: 25px 25px 0 0;
    }
    
    .room h3{
        font-size: 20px;
        color: #504f4f;
        margin-top: 15px;
    }
    
    .room p{
        font-size: 16px;
        padding: 10px 20px;
        color: #545454;
        margin: 0;
    }

}
