@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition {
    transition: all .3s;
    &:hover {
        color: #DDDDDD;
        transform: scale(1.05);
        cursor: pointer;
    }
}

* {
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

header {
    width: 100%;
    @include flex-center;
    justify-content: space-around;
    padding: 1% 0%;
    background-color: #FFC55C;

    .logo {
        width: 10%;
        font-size: 30px;
        font-weight: 800;
        @include transition;
    }

    ul {
        width: 50%;
        @include flex-center;
        justify-content: space-around;

        li {
            @include flex-center;
            width: fit-content;
            font-size: 20px;
            padding: 2px 3% 0px 3%;
            @include transition;
            
            input {
                min-width: 350px;
                background-color: var(--input-bg);
                color: var(--input-color);
                padding: 10px 10px 7px 10px;
                border-radius: 35px;
                font-size: 14px;
                outline: none;
            }

            span {
                font-family: "Material Symbols Outlined";
                right: 8%;
                font-size: 35px;
                color: white;
                background-color: #FFAA5C;
                border-radius: 50%;
                padding: 2%;
                position: relative;
            }

            .togglemenu {
                position: absolute;
                top: 100%;
                width: max-content;
                @include flex-center;
                flex-direction: column;
                text-align: left;
                padding: 10px;

                li {
                    padding: 7px 0;
                }
            }
        }

        #register, #login {
            border: solid 2px white;
            border-radius: 20px;
            color: #303030;
        }

        #register {
            background-color: white;
        }

        #login {
            background-color: transparent;
        }
    }
}