<div id="cont-principal">

    <div id="cont-top">

        <div class="btn-left" (click)="previousImage()">
            <i class='bx bxs-left-arrow'></i>
        </div>
        <div class="cont-img">
            <img [src]="property.image_url[index]" alt="image">
        </div>
        <div class="btn-right" (click)="nextImage()">
            <i class='bx bxs-right-arrow' ></i>
        </div>
        
        <div id="cont-info">
            <ul class="cont-rate">
                
                <li *ngFor="let star of [1, 2, 3, 4, 5]">
                    <span class="material-symbols-outlined fill" *ngIf="star <= property.rating">
                        star_rate
                    </span>
                    <span class="material-symbols-outlined" *ngIf="star > property.rating && star - 1 < property.rating">
                        star_rate_half
                    </span>
                    <span class="material-symbols-outlined" *ngIf="star > property.rating && star - 1 >= property.rating">
                        star_rate
                    </span>
                </li>

                <li class="rate">
                    {{property.rating}}
                </li>

            </ul>

            <h2 class="title">{{property.name}}</h2>
            
            <h2 class="price">
                ${{property.price}}
                <span>{{property.currency.code}} × {{property.period.period}}</span>
            </h2>
        
            
            <p>Tipo: <span>{{property.property_type.property_type}}</span></p>

            <p>Pais: <span>{{property.address.city.state.country.country}}</span></p>
            <p>Estado: <span>{{property.address.city.state.state}}</span></p>
            <p>No. de habitaciones: {{property.bedrooms_number}}</p>
            <p>No. de baños: {{property.bathrooms_number}}</p>

            
            <button class="btn" (click)="purchase()">
                <img src="../../../assets/logo_paypal.png" alt="reservar">
                Reservar con paypal
            </button>
                
        </div>

    </div>

    <div class="cont-bottom">
        <div class="cont-description">
            <h2>Description</h2>
            <p>{{property.description}}</p>
        </div>
    </div>
    
</div>


<app-spinner *ngIf="loading"></app-spinner>

