* {   
    font-family: "Mochiy Pop One", sans-serif;
}

section {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(/assets/bg.jpg);
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;

    .cont-verification {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 2%;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        max-width: 800px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin-bottom: 2%;
            color: var(--h1-color);
        }

        p {
            color: var(--p-color);
            text-align: start;
        }

        #info {
            padding: 2% 0;
        }

        #msg {
            font-size: 14px;
            padding: 1% 0;
            width: 100%;
            color: #C04000;
        }

        .cont-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            
            .cont-input-span {
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                background-color: var(--input-bg);
                border-radius: 25px;
                padding: 5px 10px;
                color: var(--input-color);
                margin-right: 10px;
                
                input {
                    background-color: transparent;
                    border: 0;
                    outline: none;
                    padding: 1% 2%;
                    border-radius: 20px;
                    font-size: 1rem;
                    width: 90%;
                }
        
                span {
                    margin-left: 1%;
                    width: 9%;
                }

            }

        }

        button {
            display: flex;
            padding: 10px 20px;
            border-radius: 20px;
            width: fit-content;
            
            &:hover {
                cursor: pointer;
                border: 1px solid #f1c40f;
            }

            .material-symbols-outlined {
                margin-left: 7px;
            }
        }

        .btn-verification {
            background-color: #f1c40f;
            color: #fff;
            padding: 1% 2%;
            border: none;
            border-radius: 5px;
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #f39c12;
            }
        }
    }
}


button {
    color: var(--button-color);
    background-color: var(--button-bg);
    width: 50%;
    padding: 15px 0px;
    align-self: center;    
    font-size: 16px;
    border: 0;
    border-radius: 25px;
    outline: none;
    cursor: pointer;

    &:hover{
        background-color: var(--button-bg-hover);
    }
}