<main class="container" id="scroll1">

    <div class="select-container">
        <select class="select-box">
            <option value="">Selecciona tu ciudaad</option>
            <option *ngFor="let c of cities; let i = index;" 
                value="cities[i].city_id" (click)="searchByCity(cities[i].city_id)">
                {{cities[i].city}}
            </option>
        </select>

        <select class="select-box">
            <option value="">Selecciona tu estado</option>
            <option *ngFor="let s of states; let i = index;" 
                value="state[i].state_id" (click)="searchByState(states[i].state_id)">
                {{states[i].state}}
            </option>
        </select>

        <select class="select-box">
            <option value="">Selecciona tu pais</option>
            <option *ngFor="let c of countries; let i = index;" 
                value="countries[i].country_id" (click)="searchByCountry(countries[i].country_id)">
                {{countries[i].country}}
            </option>
        </select>

        <select class="select-box">
            <option value="">Selecciona el precio</option>
            <option value="option2">Opcion2</option>
        </select>
    </div>

    <div class="search-container">
        <app-cont-card-property [properties]="properties"></app-cont-card-property>
    </div>

</main>