<footer>
    <div class="up">
        <div class="familyMonserrat left">
            <label>Preguntas Frecuentes</label>
            <label>Sobre Nosotros</label>
        </div>
        <div class="center">
            <h3 class="familyBebas">RENTALSPACEE</h3>
            <h4 class="familyMonserrat">© 2024. Todos Los Derechos Reservados</h4>
        </div>
        <div class="familyMonserrat right">
            <label>Modo Oscuro</label>
        </div>
    </div>
    <hr>
    <div class="down familyMonserrat">
        <div class="left">
            <label>AVISO DE PRIVACIDAD</label>
        </div>
        <div class="center">
            <label>CONTRATOS</label>
        </div>
        <div class="right">
            <label>TÉRMINOS Y CONDICIONES</label>
        </div>
    </div>
</footer>
