
.up-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5% 0;

    .up-left {
        width: 50%;

        h1 {
            font-size: 50px;
            font-weight: 800;
        }

        p {
            font-size: 20px;
            margin-bottom: 20px;
        }

    }

    .up-right {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        img {
            width: 80%;
        }
    }
}


.header-under {
    text-align: center;

    h2 {
        font-size: 35px;
        font-weight: 600;
    }

    p {
        font-size: 20px;
        margin: 20px 0;
    
    }

}

.rooms {
    display: block;
    width: 100%;
    padding: 2% 0 5% 0;
}


.down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url("../../../assets/home/down.png");

    h3 {
        font-size: 45px;
        font-weight: 600;
    }
}

