<div class="header-content container">
    <div class="header-text">
        <h1>¡Descubre la comodidad en cada apartamento que ofrecemos!</h1>
        <a href="#scroll1" class="btn-1">Iniciar</a>
    </div>
</div>


<div class="rooms-info">
    <div class="room">
        <img src="assets/room1.jpg" alt="">
        <h3>Habitación 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sapiente blanditiis accusantium cum.
        </p>
        <a href="../room/detail/    " class="btn-2">Ver más</a>
    </div>

    <div class="room">
        <img src="assets/room3.jpg" alt="">
        <h3>Habitación 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sapiente blanditiis accusantium cum.
        </p>
        <a href="#" class="btn-2">Ver más</a>
    </div>

    <div class="room">
        <img src="assets/room1.jpg" alt="">
        <h3>Habitación 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sapiente blanditiis accusantium cum.
        </p>
        <a href="#" class="btn-2">Ver más</a>
    </div>

</div>

<app-register></app-register>
