.header-content {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(/assets/bg-home.jpg);
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.header-text {
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
}

.header-text h1 {
    color: var(--h1-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 35px;
    margin: 80px;
}

.btn-1{
    background-color: var(--button-bg);;
    color: var(--button-color);
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;

    &:hover{
        background-color: var(--button-bg-hover);
    }

}



.rooms {
    display: block;
    padding: 80px;
}





