
.header-content {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),
    url(/assets/img_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: calc(100vh * 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    color: var(--h1-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 35px;
    margin: 80px;
}

.btn-1{
    background-color: var(--button-bg);;
    color: var(--button-color);
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;

    &:hover{
        background-color: var(--button-bg-hover);
    }

}



.rooms-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    margin-top: 50px;
    padding: 0 7%;

    .room{
        padding-bottom: 35px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        border-radius: 25px;
    }

    .room img{
        width: 100%;
        height: 300px;
        border-radius: 25px 25px 0 0;
    }
    
    .room h3{
        color: var(--h3-font-color);
        font-size: 20px;
        margin-top: 15px;
    }
    
    .room p{
        color: var(--p-font-color);
        font-size: 16px;
        padding: 10px 20px;
        margin: 0;
    }
    
}


.btn-2{
    background-color: var(--button-bg);
    color: var(--button-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover{
        background-color: var(--button-bg-hover);
    }
}



