
.section-content {
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: stretch;
        
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 350px;
            background-color: #FFCF79;
            padding: 5% 2% 1% 2%;
            text-align: center;
            border-radius: 20px 0 0 20px;
    
            h2 {
                font-size: 25px;
                color: #FFF8F5;
            }
        }
    }
}

form{
    background: white;
    min-width: 400px;
    width: 10%;
    padding: 30px 50px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4{
        font-size: 22px; 
        text-align: center;
        font-weight: 800;
        color: #FFCF79;
        margin-bottom: 20px;
    }

}


.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    .form-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1.5%;

        .cont-input-span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            background-color: var(--input-bg);
            color: var(--input-color);
            border-radius: 25px;
            padding: 5px 10px;
            
            input{
                background-color: transparent;
                border: 0;
                outline: none;
                font-size: 12px;
                width: 90%;
            }
            
            span {
                font-family: "Material Symbols Outlined";
                margin-left: 1%;
                cursor: pointer;
            }
        }

    }

}


.btn-form {
    width: 50%;
    align-self: center;    
    font-size: 14px;
    border: 0;
    border-radius: 25px;
    outline: none;

    &:hover{
        background-color: var(--button-bg-hover);
    }
}

.form-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;


    a {
        &:hover {
            cursor: pointer;
            color: gray;
        }
    }
}
