<section class="section-content">
    <div>
        <div class="left">
            <h2 class="familyBebas">¡BIENVENIDO DE VUELTA!</h2>
            <img src="../../../assets/login/left.png" alt="Login">
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h4 class="familyMontserrat">Inicia Sesión</h4>
            <div class="form-group">
                
                <div class="form-content">
                    <div class="cont-input-span"
                        [@inputError]="loginForm.get('mail')?.touched && (loginForm.get('mail')?.invalid || loginForm.getError('nonExistent')) ? 'end' : 'start'">
                        
                        <input class="familyMontserrat" type="text" formControlName="mail" placeholder="Correo electrónico">
                        <span class="material-symbols-outlined"
                            [title]="getMessagesErrors('mail')">
                                help
                            </span>
                    
                    </div>  
                </div> 

                <div class="form-content">
                    <div class="cont-input-span"
                        [@inputError]="loginForm.get('password')?.touched && (loginForm.get('password')?.invalid || loginForm.getError('nonExistent'))  ? 'end' : 'start'">
                        <input class="familyMontserrat" type="password" formControlName="password" placeholder="Contraseña">
                        <span class="material-symbols-outlined"
                            [title]="getMessagesErrors('password')">help</span>
                

                    </div>
                </div>

            </div>

            <button class="btn-form" type="submit">ACCEDER</button>
            
            
            <div class="form-footer">
                <p>¿No tienes cuenta? <a (click)="goToRouterLink('user/register')">Regístrate</a></p>
            </div>
                
        </form>
    </div>
    
</section>